#averages {clear:both}
.ui-datepicker { font-size: 10px; }
.ui-tabs { font-size: 10px; }
form input {width: 80px}
#header {
  background: #EE413A;
  height: 60px;
  padding-top: 5px;
  padding-left: 5px;
  border-top: 1px solid #BEBEBE;
  border-bottom: 1px solid #BEBEBE;
}
#logo-img{ float:left;}
#logo-txt {
  float:left;
  margin-top: 17px;
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  color: white;
}
#logout {
  float:right;
  margin-top: 15px;
  margin-right: 10px;
  color: #B6B6B6;
}
#logout a {color: #B6B6B6; text-decoration: underline;}
body {
  /* background-image:url(/images/subtle_dots.png); background-repeat:repeat */
  background-color: #F3F3F3;
  font-family: 'Droid Sans', sans-serif;
}
.bt-form{
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border:1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
}
#cost-form {
  width: 600px;
}
#user-form{
  background-color: white;
  width: 500px;
}
#user-form input {width: 100px}
#content {
  background-color: #F3F3F3;
  min-height: 500px;
}
.chart{
  padding: 50px;
}
#stats{
  margin-top: 20px;
  padding: 10px;
  height: 400px;
}
#recap{
  float: left;
  margin-top: 50px;
}
#gauge{
  float: left;
  margin: 60px 0 0 85px;
}
#edit{
  margin-top: 20px;
  width: 400px;
}
.ui-widget-header {
  color: black;
}
#nav-top{
  margin-top: 20px;
}
#home{
  background-color: rgb(250, 250, 250);
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
  width: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-family: "CrimsonSemibold","Times New Roman",Georgia,serif;
  height: 330px;
}
#home-header{
  font-size: 20px;
}
.home-box {
  width: 160px;
  margin: 15px 20px 5px;
  float: left;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 5px rgb(239, 239, 239);
  padding: 20px 10px 10px;
  text-decoration: none;
  font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
  background5: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(239, 239, 239)) repeat scroll 0% 0% transparent;
}
.home-box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.home-box-title{
  color: #EE413A;
  font-size: 15px;
  text-align:center;
}
#home-box-wrapper{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#home-links{
  clear:both;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.clear{
  clear:both;
}
footer{
  padding: 10px;
  text-align:center;
  font-size: 8px;
}
footer a{
  color: black;
  text-decoration: underline;
}
#flash{
  margin-top: 20px;
  margin-left: 280px;
  margin-bottom: 20px;
  width: 520px;
}
